:root {
    --border-color: #d8d8d8;
    --background: #dde9ee;
    --button: #696969;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*-------------------( pre-formated )------------------*/

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-------------------( whole screen / Flex effect )------------------*/

.login-group {
    background-color: var(--background);
    width: 500px;
    margin: 1rem;
    padding: 1rem 3rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 0 8px rgb(179, 178, 178);
}

.main-rubric {
    margin-bottom: 1rem;
}

.lable {
    font-size: 1rem;
}

.inputForm {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    display: inline-block;
    padding: .5rem;
    margin: .5rem 0;
    border-radius: .5rem;
    border: 1px solid var(--border-color)
}

.btn {
    padding: .7rem 2rem;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    border-radius: .5rem;
  }
.btn-primary {
    font-size: 1rem;
    color: #fff;
    background-color: var(--button);
    box-shadow: 0 0 8px rgb(179, 178, 178);
    
  }
.right {
    text-align: end;
    margin: .5rem 0;
  }