* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-header {
    margin-bottom: 2rem;
    background-color: #074866;
    color: #fff;
    text-align: center;
    padding: .5rem;
}

.container {
    background-color: #e6e6e6;
    margin: 0 1rem;
}

.d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

.input-group input {
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem;
}
.input-group {
    margin: .5rem;
}
.input-group label {
    display: block;
    padding-bottom: .5rem;
}