* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.top-header {
    background-color: darkslategray;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.container {
        /* temp */
        border: solid .2px #cacaca;
    width: 80%;
    margin: auto;
}

#regForm {
    /* temp */
    border: solid .2px #cacaca;
    margin-top: 3rem;
}

.d-flex {
    display: flex;
}

.input-group {
    flex: 1; /* every item takes one part of the number of items- here: it takes one of two */
    margin: 0 .5rem;
    margin-bottom: 1rem;
}

.input-group input {
    width: 100%;
}
